.post-button {
    margin-left: 990px;
  }
  p {
    margin-bottom: 10px;
  }
  input.right {
    float: right;
  }
  .dropdown {
    margin-right: 100px;
  }
  .navbar-brand {
    margin-left: 50px;
  }
  